<h4 style="text-align: center; margin-top: 20px; margin-bottom: 30px;">Failed expectations</h4>

<div id="accordionExample" style="margin-left: auto; margin-right: auto; max-width: 1000px; margin-bottom: 20px">
    {{#each fails.failedExpectations}}
        <div class="card">
            <div class="card-header alert-danger" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#test{{@index}}">
                        {{this.message}}
                    </button>
                </h2>
            </div>
            <div id="test{{@index}}" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <pre>{{this.stack}}</pre>
                </div>
            </div>
        </div>
    {{/each}}
</div>
