<h4 style="text-align: center; margin-top: 20px; margin-bottom: 30px;">Passed expectations</h4>

<div id="accordionExample" style="margin-left: auto; margin-right: auto; max-width: 1000px; margin-bottom: 20px;">
    <div class="card">
        <div class="card-header alert-success" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#screen" style="text-align: left; word-break: break-all;">
                    Final display screen
                </button>
            </h2>
        </div>
        <div id="screen" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <a href="/report-screen/{{passes.screenId}}" target="_blank">
                <img src="/report-screen/{{passes.screenId}}" class="img-fluid" alt="Responsive image">
            </a>
        </div>
    </div>
</div>
