<link href="/css/launches.css" rel="stylesheet">

<div class="modal fade" id="delete-project" tabindex="-1" role="dialog" aria-labelledby="delete-project-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-project-label">Delete project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                All project reports will be deleted
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary delete-project-button" onclick="deleteProject(this.value);">Delete project</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add-project" tabindex="-1" role="dialog" aria-labelledby="add-project-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-project-label">New project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="new_project" action="javascript:addProject()">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Project name:</label>
                        <input name="project_name" type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Description:</label>
                        <textarea name="project_description" class="form-control" id="message-text"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{#unless projects.list}}
    <h4 style="text-align: center; margin-top: 20px; margin-bottom: 20px;">Add new project</h4>
{{/unless}}



<main role="main">
    <div class="album py-5">
        <div class="container">

            <div class="row">

                {{#each projects.list}}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder:"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{this.name}}</text></svg>
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" value="{{this._id}}" class="btn btn-sm btn-outline-secondary" onclick="viewProject(this.value);">View</button>
                                        <button type="button" value="{{this._id}}" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#delete-project">Delete</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</main>


<script>

    $(document).on("click", '[data-target="#delete-project"]', function () {
        $('.delete-project-button').val(this.value)
    });

    function deleteProject(projectId){
        $('#delete-project').on('hidden.bs.modal', function(e) {
            $('.delete-project-button').val('');
            document.location.reload()
        });

        const xhr = new XMLHttpRequest();
        xhr.open("DELETE", `/project/${projectId}`, true);
        xhr.onload = function (){
            if (xhr.status === 200){
                $('#delete-project').modal('hide');
            } else {
                console.error(xhr.status);
                $('#delete-project').modal('hide');
            }
        };
        xhr.onerror = xhr.onabort = function (){
            console.error('some error');
        };
        xhr.send();
    }

    function viewProject(projectId) {
        window.location.href = `/project/${projectId}`;
    }
    function addProject() {
        $('#add-project').on('hidden.bs.modal', function(e) {
            $('[name="project_name"]').val('');
            $('[name="project_description"]').val('');
            document.location.reload();
        });

        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/project", true);
        xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
        xhr.onload = function (){
            if (xhr.status === 200){
                $('#add-project').modal('hide');
            } else {
                console.error(xhr.status);
                $('#add-project').modal('hide');
            }
        };
        xhr.onerror = xhr.onabort = function (){
            console.error('some error');
        };
        const addProjectForm = document.forms.new_project;
        xhr.send(JSON.stringify({name: addProjectForm.elements.project_name.value, description: addProjectForm.elements.project_description.value}));
    }
</script>