
{{#if projects.list}}
    <h4 style="text-align: center; margin-top: 20px; margin-bottom: 30px;">Projects</h4>
    {{else}}
    <h4 style="text-align: center; margin-top: 20px; margin-bottom: 30px;">Add new project</h4>
{{/if}}

<ul class="list-group" style="margin-left: auto; margin-right: auto; max-width: 900px;">
    {{#each projects.list}}
        <a href="/project/{{this._id}}" class="list-group-item list-group-item-action" style="padding-left: 32px; padding-right: 32px;">
            <div class="d-flex w-100 justify-content-between">
                <span>{{this.name}}</span>
                {{#if this.lastLaunchDateAgo}}
                    <span class="text-muted">Last launch {{this.lastLaunchDateAgo}}</span>
                {{/if}}
            </div>
        </a>
    {{/each}}
</ul>

<div class="modal fade" id="add-project" tabindex="-1" role="dialog" aria-labelledby="add-project-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-project-label">New project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="new_project" action="javascript:addProject()">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Project name:</label>
                        <input name="project_name" type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Description:</label>
                        <textarea name="project_description" class="form-control" id="message-text"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).on("click", '[data-target="#delete-project"]', function () {
        $('.delete-project-button').val(this.value)
    });

    function addProject() {
        $('#add-project').on('hidden.bs.modal', function(e) {
            $('[name="project_name"]').val('');
            $('[name="project_description"]').val('');
            document.location.reload();
        });

        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/project", true);
        xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
        xhr.onload = function (){
            if (xhr.status === 200){
                $('#add-project').modal('hide');
            } else {
                console.error(xhr.status);
                $('#add-project').modal('hide');
            }
        };
        xhr.onerror = xhr.onabort = function (){
            console.error('some error');
        };
        const addProjectForm = document.forms.new_project;
        xhr.send(JSON.stringify({name: addProjectForm.elements.project_name.value, description: addProjectForm.elements.project_description.value}));
    }
</script>