<link rel="stylesheet" href="/css/reports.css">
<h4 style="text-align: center; margin-top: 20px; margin-bottom: 20px;">Tests results</h4>
<div class="divTable">
<table class="table table-bordered table-hover">
    <thead style="background-color: rgba(0,0,0,.03);">
    <tr>
        <th>Spec name</th>
        {{#each launch.browsers}}
            <th scope="col">{{this}}</th>
        {{/each}}
    </tr>
    </thead>
    <tbody>
        {{#each launch.specsReports}}
            <tr>
            <td scope="row">{{this.specId}}</td>
            {{#each this.browsersResults}}
                <td>{{this.browserName}}</td>
            {{/each}}
            </tr>
        {{/each}}
    </tbody>
</table>
</div>

<script>
    console.log('script');
    let eventSource = new EventSource(`/report-update`);

    eventSource.onmessage = function(e) {
        document.location.reload()
    };
</script>
