<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/reports.css">
</head>
<body>

<h4 style="text-align: center">Specs reports</h4>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Spec name</th>
        {{#each launch.browsers}}
            <th scope="col">{{this}}</th>
        {{/each}}
    </tr>
    </thead>
    <tbody>
        {{#each launch.specsReports}}
            <tr>
            <td scope="row">{{this.specId}}</td>
            {{#each this.browsersResults}}
                <td>{{this.browserName}}</td>
            {{/each}}
            </tr>
        {{/each}}
    </tbody>
</table>
</body>
</html>