<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Spec name</th>
        {{#each launch.browsers}}
            <th scope="col">{{this}}</th>
        {{/each}}
    </tr>
    </thead>
    <tbody>
        {{#each launch.specsReports}}
            <tr>
            <th scope="row">{{this.specId}}</th>
            {{#each this.browsersResults}}
                <td>{{this.browserName}}</td>
            {{/each}}
            </tr>
        {{/each}}
    </tbody>
</table>
</body>
</html>