.list-group-item:hover {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem #007bff40;
}


body {
    /*background-color: #f5f5f5;*/
}

html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.container {
    max-width: 400px;
}

.pricing-header {
    max-width: 700px;
}

.card-deck .card {
    /*min-width: 220px;*/
    max-width: 288px;
}

.card-deck {
    justify-content: center;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.btn-light{
    border-color: #d8d9db80;
}

.btn-light:focus{
    box-shadow: none;
}