<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reportal</title>
    <script type="module" src="/js/jquery.min.js"></script>
    <script type="module" src="/js/bootstrap.min.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom box-shadow">
<!--    <h5 class="my-0 mr-md-auto font-weight-normal">Reportal</h5>-->

<ul class="nav" style="margin-right: auto!important;">
    <li class="nav-item">
        <a class="nav-link" href="/projects">Reportal</a>
    </li>
</ul>
    {{#if projects}}
        <nav class="my-2 my-md-0 mr-md-3">
            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal">
                <img class=""src="assets/add-item.svg" alt="" width="20" height="20">
                Add new project
            </button>
        </nav>
    {{/if}}

    {{#if launches}}
    <nav class="my-2 my-md-0 mr-md-3">
        <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal">
            <img class="" src="/assets/id.svg" alt="" width="20" height="20">
            Project id
        </button>
    </nav>
    {{/if}}

    <button class="btn btn-outline-primary" style="color: #343a40;" onclick="logout();">Sign out</button>
</div>

    {{{ body }}}

<script>
    function logout() {
        const form = document.createElement('form');
        form.setAttribute('method', 'post');
        form.setAttribute('action', '/logout');
        form.style.display = 'hidden';
        document.body.appendChild(form);
        form.submit();
    }
</script>
</body>
</html>