<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    todo handle with js inmport-->
    <title>Reportal</title>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom box-shadow">

    <!--<ul class="nav" style="margin-right: auto!important;">-->
        <!--<li class="nav-item">-->
            <!--<a class="nav-link" href="/projects">Reportal</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
            <!--&lt;!&ndash;<a class="nav-link" href="/projects">NSMS</a>&ndash;&gt;-->
            <!--NSMS-->
        <!--</li>-->
    <!--</ul>-->
        {{#if projects}}
            <h5 class="my-0 mr-md-auto font-weight-normal">Projects</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <button type="button" class="btn btn-light" data-toggle="modal" data-target="#add-project">
                    <img class=""src="assets/add-item.svg" alt="" width="20" height="20">
                    Add new project
                </button>
            </nav>
        {{/if}}

        {{#if launches}}
            <h5 class="my-0 mr-md-auto font-weight-normal">{{launches.projectName}}</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="/projects">Projects</a>
            </nav>

            <nav class="my-2 my-md-0 mr-md-3">
            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal">
                <img class="" src="/assets/id.svg" alt="" width="20" height="20">
                Project id
            </button>
        </nav>
        {{/if}}
        <!--todo rename to reports-->
        {{#if launch}}
            <h5 class="my-0 mr-md-auto font-weight-normal">Launch: {{launch.launchId}}</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="/projects">Projects</a>
                <a class="p-2 text-dark" href="/project/{{launch.projectId}}">Launches</a>
            </nav>
        {{/if}}

        <button class="btn btn-outline-primary" style="color: #343a40;" onclick="logout();">Sign out</button>
    </div>

    {{{ body }}}

<script>
    function logout() {
        const form = document.createElement('form');
        form.setAttribute('method', 'post');
        form.setAttribute('action', '/logout');
        form.style.display = 'hidden';
        document.body.appendChild(form);
        form.submit();
    }
</script>
</body>
</html>